# Local settings
.env
.env.*
!.env.example

# Agents
.claude/settings.local.json

# Local artifacts
.tmp
.experiments


# Tools
.eslintcache
.stylelintcache
node_modules
.nx
test-results

# le sigh
.DS_Store
Thumbs.db
test-e2e/llm-stub/.llm-stub.pid
